<link rel="stylesheet" href="~/@(nameof(Covidiots)).styles.css" />

<div id="hud-inventory">
    <div class="item-container">
        <img class="item">
        <span class="item-quantity"></span>
    </div>
    <div class="item-container">
        <img class="item">
        <span class="item-quantity"></span>
    </div>
    <div class="item-container">
        <img class="item">
        <span class="item-quantity"></span>
    </div>
    <div class="item-container">
        <img class="item">
        <span class="item-quantity"></span>
    </div>
    <div class="item-container">
        <img class="item">
        <span class="item-quantity"></span>
    </div>
    <div class="item-container">
        <img class="item">
        <span class="item-quantity"></span>
    </div>
    <div class="item-container">
        <img class="item">
        <span class="item-quantity"></span>
    </div>
    <div class="item-container">
        <img class="item">
        <span class="item-quantity"></span>
    </div>
</div>
