<link rel="stylesheet" href="~/@(nameof(Covidiots)).styles.css" />

<div id="hud-map">
    <div id="0 2" class="room"></div>
    <div id="0 1" class="room"></div>
    <div id="0 0" class="room"></div>
    <div id="1 2" class="room"></div>
    <div id="1 1" class="room"></div>
    <div id="1 0" class="room"></div>
    <div id="2 2" class="room"></div>
    <div id="2 1" class="room"></div>
    <div id="2 0" class="room"></div>
</div>
