<link rel="stylesheet" href="~/@(nameof(Covidiots)).styles.css" />

<div id="hud-stats">
    <div class="stat" id="health-stat">
        <span class="stat-type">Health</span>
        <div class="progress-bar">
            <div class="progress" id="health-progress">50%</div>
        </div>
    </div>
    <div class="stat" id="hunger-stat">
        <span class="stat-type">Hunger</span>
        <div class="progress-bar">
            <div class="progress" id="hunger-progress">50%</div>
        </div>
    </div>
    <div class="stat" id="thirst-stat">
        <span class="stat-type">Thirst</span>
        <div class="progress-bar">
            <div class="progress" id="thirst-progress">50%</div>
        </div>
    </div>
</div>
