.board {
  border: 49px solid #462921;
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(11, 70px);
  grid-template-rows: repeat(11, 70px);
  grid-auto-flow: row;
}

.fries {
  background-image: url("/images/Fries.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.toilet-paper {
  background-image: url("/images/ToiletPaper.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.water {
  background-image: url("/images/Water.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.floor {
  background-image: url("/images/Tile.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.wall {
  background-image: url("/images/Wall.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.player {
  background-image: url("/images/characters/1/character-down.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  
}

.player {
  background-color: red;
}

.otherPlayers
{
  background-image: url("/images/characters/1/character-down.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: green;
}

.door {
  background-image: url("/images/Door.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#user {
  background-image: url("/images/Fries.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#progress-bar-container {
  display: none;
  position: fixed; 
  top: 50%;
  left: 40%; 
  width: 20%; 
  height: 20px;
  background-color: #ccc;
}

#progress-bar {
  width: 0; /* Start with 0% progress */
  height: 100%;
  background-color: #4caf50;
}

#dialog-button 
{
  margin-left: 45%;
  font-size: xx-large;
}

#message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f96470;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  transition: opacity 1s ease-out;
  display: none; /* Initially hide the message */
}