@page
@model MyApp.Namespace.GameModel
@{
}

<div id="container">
    <div id="wrapper">

    </div>
    <div id="progress-bar-container">
        <div id="progress-bar"></div>
    </div>
</div>


<link rel="stylesheet" href="~/css/game.css" />
<script defer src="~/js/game.js"></script>