@page
@inject Lobby lobby
@inject UserManager<CustomUser> userManager
@using System.Text.Json
@model MyApp.Namespace.GameModel
@{
    <script defer src="~/js/game.js"></script>
    var user = await userManager.GetUserAsync(User);
}

<div id="container">
    <div id="wrapper">
    </div>
</div>
@await Html.PartialAsync("Huds/_Hud")

<p id="players" hidden=true>
    @JsonSerializer.Serialize(lobby.Players);
</p>

<p id="user" hidden=true>@user.Email</p>

<link rel="stylesheet" href="~/css/game.css" />
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="module" defer src="~/js/game.js"></script>
<script type="module" defer src="~/js/hud.js"></script>
