@page
@inject Lobby lobby
@inject UserManager<CustomUser> userManager
@model MyApp.Namespace.GameModel
@{
    var user = await userManager.GetUserAsync(User);
}

<div id="container">
    <div id="wrapper">
    </div>
</div>
@await Html.PartialAsync("Huds/_Hud")

<div id="players" hidden=true>
    @foreach (var player in lobby.Players)
    {
        <div class="player" id="@player.Key"></div>
    }
</div>

<p hidden=true id="playerId">@user.Email</p>

<link rel="stylesheet" href="~/css/game.css" />
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="module" defer src="~/js/game.js"></script>
<script type="module" defer src="~/js/hud.js"></script>