@page
@inject Clients clients
@inject UserManager<CustomUser> userManager
@using System.Text.Json
@model MyApp.Namespace.GameModel
@{
    var user = await userManager.GetUserAsync(User);
}

<div id="control-button-container">
    <button id="dialog-button" onclick="dialog.show()">Controls</button>
</div>

<div id="msg-container" class="overlay">
    <div id="overlay-content">
        <h3 id="msg-team"></h3>
        <p id="msg-description"></p>
        <p>Game starts in <span id="countdown" class="text-stress"></span></p>
    </div>
</div>

<dialog id="dialog">
    <form method="dialog">
        <div id="dialog-content">
        <h2 id="dialog-title">Controls</h2>
        <p id="dialog-message">
            <ul>
                <li>WASD - Move</li>
                <li>Arrow Key - Move</li>
                <li>E - Stats</li>
                <li>Q - Inventory</li>
                <li>M - Map</li>
                <li>Space Bar - Pickup Item</li>
            </ul>
        </p>
            <input class="button" type="submit" value="OK" />
        </div>
    </form>
</dialog>
        <div id="message"></div>

<div id="container">
</div>
@await Html.PartialAsync("Huds/_Hud")

<p id="players" hidden=true>
    @JsonSerializer.Serialize(clients.Players);
</p>



<p id="user" hidden=true>@user?.Email</p>

<link rel="stylesheet" href="~/css/common.css" />
<link rel="stylesheet" href="~/css/game.css" />
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="module" defer src="~/js/game.js"></script>
<script type="module" defer src="~/js/hud.js"></script>

