@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to Covidiots 19 - Survival Tutorial</h1>
    <h3>Objective:</h3>
    <p>Survive the pandemic and outlast other players by strategically managing your resources and avoiding infection.
    </p>
    <p>Work together with your team to overcome challenges and be the last team standing.</p>

    <h3>Controls:</h3>

    <h4>Lobby Screen:</h4>

    <p><strong>Joining the Game:</strong>

    <p>Click on your name in the player list to join the roster.</p>
    <p>Use the invite button to bring in more players.</p>

    </p>
    <p><strong>Host Options:</strong>

    <p>Start the game when ready (host only).</p>
    <p>Choose game modes: Time Limit or No Time Limit.</p>

    </p>
    <p><strong>Communication:</strong>

    <p>Utilize lobby chat to plan strategies.</p>

    </p>
    <p><strong>Ready Up:</strong>

    <p>Click on the ready button to signal you're prepared for the game.</p>
    <p>Host clicks start once everyone's ready.</p>

    </p>


    <h4>In-Game Environment:</h4>

    <p><strong>Movement:</strong>

    <p>Use W/A/S/D or arrow keys to navigate.</p>

    </p>
    <p><strong>Interaction:</strong>

    <p>Press spacebar to interact with doors and gather resources.</p>

    </p>
    <p><strong>Resource Gathering:</strong>

    <p>Approach items and press spacebar to collect. Watch the progress bar.</p>

    </p>
    <p><strong>Inventory:</strong>

    <p>Press 'Q' to access your inventory.</p>
    <p>Use number keys to consume items.</p>

    </p>
    <p><strong>Player Stats:</strong>

    <p>Press 'E' to view your stats and inventory.</p>

    </p>
    <p><strong>Map:</strong>

    <p>Press 'M' to view the map. Your location is marked.</p>

    </p>


    <h3>Important Tips:</h3>

    <p><strong>Collaboration is Key:</strong>

    <p>Communicate with your team for effective resource management.</p>

    </p>
    <p><strong>Stay Informed:</strong>

    <p>Check player stats, inventory, and the map regularly.</p>

    </p>
    <p><strong>Strategic Resource Gathering:</strong>

    <p>Time your resource gathering to avoid risks.</p>

    </p>
    <p><strong>Adapt to Game Modes:</strong>

    <p>Understand the win conditions for both infected and uninfected teams.</p>

    </p>
    <p><strong>Survive and Thrive:</strong>

    <p>Balancing hunger, thirst, and health is crucial for survival.</p>

    </p>
