@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p id="game-title">Covidiots 19</p>
    @* Sign up button *@
    <p>You need to sign up to play</p>
    <a class="btn btn-primary" href="/Identity/Account/Register">Sign Up</a>
    <br />
    <br />
    <p>Already have an account?</p>
    <a class="btn btn-primary" href="/Identity/Account/Login">Login</a>
    <br />
    <br />
    <p>Already logged in? Click here to play</p>
    <a class="btn btn-primary" href="/Lobby">Ready To Play</a>
    <br />
    <br />

    <h3><strong>Important</strong></h3>
    <p>Make sure to zoom out so the screen doesn't move</p>
    <h1 class="display-4">Survival Tutorial</h1>
    <h3>Objective:</h3>
    <p>Survive the pandemic and outlast other players by strategically managing your resources and avoiding COVID 19.
    </p>
    @* <p>Find other uninfected people and share your collected resources to outlast COVID 19.</p> *@


    <h4>Lobby</h4>
    <p>Click <b>Join Lobby</b> and <b>Ready</b> to play in the next game.</p>
    <p>Press <b>Start Game</b> when everyone is ready (Currently anyone can press the start button).</p>
    <p>Choose game modes: Time Limit or No Time Limit.</p>
    <p>Utilize lobby chat to plan strategies.</p>
    <p>Click on the ready button to signal you're prepared for the game.</p>
    <p>Someone clicks start once everyone's ready.</p>


    <h4>In-Game Controls/Mechanics</h4>
    <p>Use<b> W/A/S/D </b>or <b>arrow keys</b> to navigate.</p>
    <p>Walk into doors to move between rooms.</p>
    <p><b>Spacebar</b> to collect items (go in front of an item and press spacebar)</p>
    <p><b>Q</b> to access your inventory.</p>
    <p><b>Number keys</b> to consume items.</p>
    <p><b>E</b> to view your stats.</p>
    <p><b>M</b> to view the map. Your location is marked.</p>
    <p><b>Z</b> to use your infectious cough when near other players (Infected only).</p>

    <h3>Important Tips:</h3>

    <p><strong>Be Careful Who You Trust</strong>

    <p>Infected people might try to pretend that they aren't infected</p>

    </p>
    <p><strong>Top Off Your Health</strong>

    <p>Check player stats, inventory, and consume your items so you can sustain through virus attacks</p>

    </p>
    <p><strong>Strategic Resource Gathering</strong>

    <p>Hoard as many items as safely as you can</p>

    </p>
    <p><strong>Run Away as Fast as You Can</strong>

    <p>Spam the keyboard or hold down the movement keys to quickly escape other people</p>

    </p>
    <a class="btn btn-primary" href="/Lobby">Ready To Play</a>

<link rel="stylesheet" href="~/css/common.css" />
