/* _content/Covidiots/Pages/Lobby.cshtml.rz.scp.css */
#flexContainer[b-ps4mjl2val] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

h1[b-ps4mjl2val]{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#messagesList[b-ps4mjl2val]
{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}

#playersList[b-ps4mjl2val]
{

    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}

#mainFlexContainer[b-ps4mjl2val] {
    display: flex;
    flex-direction: c;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.flexItem[b-ps4mjl2val]
{
    flex: 1 1 200px;
    margin: 10px;
}

.buttonDiv[b-ps4mjl2val]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

/* Style the tab */
.tab[b-ps4mjl2val] {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button[b-ps4mjl2val] {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover[b-ps4mjl2val] {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active[b-ps4mjl2val] {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent[b-ps4mjl2val] {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
/* _content/Covidiots/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1mmmbd53cd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1mmmbd53cd] {
  color: #0077cc;
}

.btn-primary[b-1mmmbd53cd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1mmmbd53cd], .nav-pills .show > .nav-link[b-1mmmbd53cd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1mmmbd53cd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1mmmbd53cd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1mmmbd53cd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1mmmbd53cd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1mmmbd53cd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
